.sma {

  justify-content: center;
  margin-left: 9px;
}

.character-list {
  display: grid;/*important*/
  grid-template-columns: repeat(3, 1fr); /*important*/
  margin-left: 40px;
  gap: 30px;


  
}

.character-item {
  
 
  border: 1px solid sandybrown; 
 
  text-align: center;


}
.image{
  height: 100%;
  width: 40%;
}
