body {
    background-color: white;
}


.cha {
   
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    
  }
  
  ul {
    list-style-type: none; 
    padding: 0;
  }
  
  li {
     
    border: 1px solid #c0ba8cd3; 
    border-radius: 8px;
    margin: 15px 0;
    padding: 15px;
    display: flex;
    align-items: center; 
  }
  
  h2 {
    font-size: 1.5em;
    margin: 0 15px 0 0; 
    color: #333; 
  }
  
  img {
    width: 100px;
    
    border-radius: 50%;
    margin-right: 9px;
  }
  
  p {
    margin: 5px 0;
    color: #666;
    font-size: 1em;
    background-color: transparent;
    
  }
  .name{

    margin-top: 90px;
text-align: center;
    color:#c0ba8cd3;
  }