.sma {

  justify-content: center;
  margin-left: 9px;
}

.character-list {
  display: grid;/*important*/
  grid-template-columns: repeat(3, 1fr); /*important*/
  margin-left: 40px;
  gap: 20px;


  
}

.character-item {
  
 
  border: 1px solid grey; 
 
  text-align: center;


}
.image{
  height: 100%;
  width: 40%;
}
.name{
  height: 100%;

  
}
.status{
  color:rgb(105, 79, 33);
}

.Link a {
  color: rgb(105, 79, 33);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px; 
  transition: color 0.3s; 
}

.Link a:hover {
  color: wheat; 
}
