.read {




 
 
   


}

.read h2 {
    font-size: 1.8em; 
    color: #333; 
    margin-bottom: 15px;
}

.read img {
    width: 40%;
    height: 50%; 
}

.read p {
    font-size: 1em;
    color: #555;
    margin: 5px 0; 
}


