.read {
    max-width: 600px; 
    margin: 20px auto;
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 8px;
    background-color: #f9f9f9; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

margin-top: 90PX;
}

.read h2 {
    font-size: 1.8em; 
    color: #333; 
    margin-bottom: 15px;
}

.read img {
    width: 40%;
    height: 50%; 
}

.read p {
    font-size: 1em;
    color: #555;

}


