body{
    background-color: black;
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../src/ricky.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    
}

.h1home {
    color: #d12a2a; 
    font-style: oblique;
    font-size: 1.5em; 
    text-align: center; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
  
    transition:  0.3s ease;
}

.h1home:hover {
    color: #ff5c5c;
}
