.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../src/ricky.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 20px;
}

.h1home {
    color: #d12a2a; 
    font-style: oblique;
    font-size: 1.5em; 
    text-align: center; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
    transition: 0.3s ease;
}

.h1home:hover {
    color: black;
}

.homeCa {
    font-size: 1em;
}

.homeCa a {
    color: #d12a2a;
    text-decoration: none; 
    font-size: 1.2em; 
    font-weight: bold;
    transition: color 0.3s ease;
}

.homeCa a:hover {
    color: black;
}


@media (max-width: 600px) {
    .h1home {
        font-size: 1.2em;
        margin: 10px 0;
    }

    .homeCa {
        font-size: 0.9em; 
    }

    .homeCa a {
        font-size: 1em;
    }
}
